.loading{
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                50% 50% 
                no-repeat;
    div {
        margin: auto;
        top: 40%;
        position: relative;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #ff9100; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
}

.loading-validation{
    position:   absolute;
    top:        0;
    right:      0;
    padding: 12px;
    div {
        margin: auto;
        position: relative;
        border: 6px solid #f3f3f3; /* Light grey */
        border-top: 6px solid #ff9100; /* Blue */
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}