<ng-container *ngIf="post$ | async as post; else loadingPost">
    <p>topic works!</p>
    <h1>{{post.title}}</h1>
    <h2>{{post.description}}</h2>
    <p>
        {{post.content}}
    </p>
    <ng-container *ngIf="like$ | async as like; else loadingLike">

    </ng-container>
    <div [ngClass]="{liked : like.liked}">
        <button (click)="like()" class="like">Like</button>
        <button (click)="dislike()" class="dislike">Dislike</button>
    </div>
</ng-container>
<ng-template #loadingPost>
    <div class="loading">
        <div></div>
    </div>
</ng-template>